*
    margin: 0
    padding: 0

body
    background-color: grey
    max-width: 1440px
    margin: 0 auto

.wrapper
    background-color: lightgreen

.wrapper + .wrapper
    margin-top: 20px

.main-image
    display: block
    margin: 0 auto
    width: 960px

.separator
    width: 100%
    height: 50px
    background: rgba(230, 54, 54, 0.35)

.new-block
    // background: red url('./assets/img/fantasies-group-back.png') no-repeat center center
    padding-top: 600px
    padding-bottom: 600px
    position: relative
    background-color: lightyellow

.new-block-wrapper
    // background: url('./assets/img/info-designer-small.jpg') no-repeat center center
    background: red url('./assets/img/fantasies-group-back.png') no-repeat center center
    position: absolute
    background-color: rgba(47, 100, 214, 0.918)
    width: 100%
    height: 100%
    top: 300px


.block-separator
    padding: 80px
    margin-top: 170px
    margin-bottom: 60px
    background-color: rgba(77, 224, 109, 0.589)


.block-room
    position: relative
    background: rgba(172, 48, 48, 0.815) url('./assets/img/back-2-building-364.jpg') no-repeat center center
    padding-top: 250px
    padding-bottom: 500px

.block-room__wrapper
    position: absolute
    background: url('./assets/img/online-control-room.jpg') no-repeat center center
    width: 100%
    height: 100%
    top: 200px
    h3
        font-size: 34px
        color: red
        text-align: center

.icon-center
    text-align: center
    padding-top: 20px
    padding-bottom: 2px
    
// @media ( max-width: 960px )
//     .main-image
//         width: 100%

// __________ без флексбокса ____________
.dws-wrapper
    background-color: #99ee84
    margin-top: 600px
    margin-bottom: 100px
    position: absolute
    top:  50%
    left: 50%
    transform: translate(-50%, -50%)