.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #e6e958;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* _____HEADER_____ */
.page-header {
  background-color: #8c93f0;
}

.page-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  margin-top: 15px;
}

@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
}

.page-header .cta-contact {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 350px;
  background: url("./assets/img/background_1.jpg") no-repeat center/cover;
}

.page-main div {
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }
}

/* _______FOOTER________ */
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.page-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

@media screen and (min-width: 550px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-footer ul {
  margin-bottom: 0;
}

/* _____STYLE-OLD_____ */
h1 {
  font-family: 'Yeseva One', serif;
  font-size: 40px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn {
  border-radius: 2px;
  border: 1px solid #E3B873;
  background-color: #E3B873;
  color: #FFF;
  padding: 13px 23px;
  width: 180px;
  text-align: center;
  /* display: block; */
}
/*# sourceMappingURL=style2.css.map */