body {
  color: #FFF;
  font-family: 'FuturaBookC', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: 'Yeseva One', serif;
  font-size: 40px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.5;
}

h1 span {
  color: #E3B873;
}

h2 {
  font-family: 'Yeseva One', serif;
  color: #E3B873;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  letter-spacing: -0.07em;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-family: 'Yeseva One', serif;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

h4 {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Yeseva One', serif;
  color: #E3B873;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

.h4_noactive {
  color: rgba(255, 255, 255, 0.3);
}

.text-center {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #000;
}

.text-center p {
  font-family: 'FuturaBookC', sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-style: normal;
}

.icon-center {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 2px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 62px;
  background-color: #131313;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #E3B873;
  font-size: 14px;
  margin: 0;
  padding: 4px 30px 0 0;
  width: 240px;
}

ul {
  display: block;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  padding: 4px;
  list-style-type: none;
}

a {
  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover {
  color: #774422;
  text-decoration: underline;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.active a {
  color: #E3B873;
}

.menu_phone {
  width: 200px;
  text-decoration: underline;
}

.menu_phone a {
  color: #E3B873;
}

.menu_phone a:hover {
  color: #774422;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-black {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #131313;
}

.instagram-wrapper {
  padding: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram-pic {
  text-align: center;
  margin-left: 26px;
}

.text-rotate {
  font-size: 14px;
  color: #E3B873;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.text-rotate span::after {
  content: '';
  width: 25px;
  height: 20px;
  background-color: blue;
  vertical-align: middle;
  margin-left: 30px;
}

.text-rotate span::before {
  content: '';
  width: 25px;
  height: 20px;
  background-color: #000;
  vertical-align: middle;
  margin-right: 30px;
}

.header {
  background: red url("./assets/img/back-1-room.jpg") no-repeat center top;
  background-size: cover;
  height: 85vh;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  width: 100%;
  position: relative;
}

.btn {
  border-radius: 2px;
  border: 1px solid #E3B873;
  background-color: #E3B873;
  color: #FFF;
  padding: 13px 18px;
  width: 168px;
  text-align: center;
  display: block;
}

.btn__header {
  margin-left: auto;
}

.btn__slider {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 18px;
}

.btn__border {
  display: inline-block;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}

.block_1_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text_description {
  color: #fff;
  line-height: 30px;
  font-size: 22px;
  padding-right: 57px;
  word-spacing: 3px;
}

.block_1_45proc {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 70px;
}

.block_1_55proc {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.scroll-button {
  display: inline-block;
  margin-top: 108px;
  text-align: center;
  padding: 20px 35px;
  background-color: #131313;
  width: 227px;
  height: 57px;
}

.scroll-button a {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;
}

.completed-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #131313;
  padding: 40px 0px 40px 90px;
}

.projects__item {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 20px;
}

.projects__item p {
  font-size: 18px;
  line-height: 29px;
  text-align: left;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__task {
  margin-right: 54px;
  margin-bottom: 5px;
  width: 200px;
}

.projects__task p {
  font-size: 15px;
  line-height: 20px;
}

.project__arrows-and-dots {
  text-align: left;
}

.projects__slider {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 20px;
}

.projects__slider-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.projects__slider-menu li {
  font-family: 'Yeseva One', serif;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 8px;
}

.projects__slider-menu li:first-child {
  color: #E3B873;
}

.online-control--new {
  padding-top: 2px;
  padding-bottom: 2px;
}

.online-control--new__wrapper {
  position: relative;
  background: url("./assets/img/online-control-620.png") no-repeat center top;
  padding-top: 25px;
  padding-bottom: 140px;
  margin-top: -3px;
}

.online-control__button-center {
  text-align: center;
  padding-top: 190px;
}

.online-control__content {
  background-color: rgba(91, 20, 172, 0.7);
}

#form_1 input {
  height: 52px;
}

#form_1 p {
  font-size: 16px;
  line-height: 22px;
}

#form_1 input {
  background-color: rgba(57, 55, 179, 0.541);
}

.form_1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.form-item,
.form-submit {
  margin-left: 15px;
  margin-right: 15px;
}

.form-item {
  padding-top: 12px;
  padding-bottom: 12px;
}

.types-of-repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background-color: rgba(167, 224, 101, 0.8);
}

.types-of-repair__info-redecorating {
  background: red url("/assets/img/info-redecorating-small.jpg") no-repeat center top;
  background-size: 392px 421px;
}

.types-of-repair__info-overhaul {
  background: blue url("/assets/img/info-overhaul-small.jpg") no-repeat center top;
}

.types-of-repair__info-designer {
  background: green url("/assets/img/info-designer-small.jpg") no-repeat center top;
}

.form-main {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-main__building {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.form-main__form {
  background-color: #131313;
  color: #FFF;
  padding: 25px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.wildest-fantasies {
  padding-top: 430px;
  padding-bottom: 630px;
  position: relative;
  background-color: lightyellow;
}

.wildest-fantasies-wrapper {
  background: url("./assets/img/fantasies-group-back.png") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 300px;
}

.wildest-fantasies-wrapper-text {
  padding-left: 100px;
  padding-top: 340px;
}

.design-project {
  margin-top: 300px;
}

.design-project h3 {
  text-align: center;
  color: #131313;
}

.design-project p {
  text-align: center;
  color: #131313;
}

.design-project__wrapper {
  background-color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.design-project__mini {
  background: red url("./assets/img/info-redecorating-small.jpg") no-repeat center top;
  background-color: red;
  width: 392px;
  height: auto;
  padding: 20px;
  margin: 3px;
}

.design-project__standart {
  background: red url("./assets/img/info-designer-small.jpg") no-repeat center top;
  background-color: red;
  width: 392px;
  height: auto;
  padding: 20px;
  margin: 3px;
}

.design-project__full {
  background: red url("./assets/img/info-redecorating-small.jpg") no-repeat center top;
  background-color: blue;
  width: 392px;
  height: auto;
  padding: 20px;
  margin: 3px;
}

.design-project__info {
  background-color: #fff;
  margin: 25px;
  margin-top: 280px;
  padding: 12px;
  color: #000;
}

.steps-to-the-goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  background-color: #000;
}

.steps-to-the-goal__left {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
  background-color: #222;
}

.steps-to-the-goal__left h3 {
  text-align-last: left;
  color: #E3B873;
}

.steps-to-the-goal__left h3 span {
  color: #FFF;
}

.steps-to-the-goal__left p {
  margin-right: 20%;
}

.text-top {
  text-transform: uppercase;
  font-size: 18px;
}

.steps-to-the-goal__right {
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
  background-color: rgba(208, 85, 22, 0.48);
}

.steps-to-the-goal__numbers {
  font-size: 15px;
  line-height: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.number-item span {
  font-family: 'Yeseva One', serif;
  font-style: 15px;
  color: green;
}

.our-team {
  padding: 30px 100px;
  background-color: rgba(113, 37, 201, 0.836);
}

.footer {
  background-color: #5f4b13;
  padding-top: 50px;
  padding-bottom: 70px;
}

.block-separator {
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(77, 224, 109, 0.51);
}

.title {
  overflow: hidden;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 90px;
}

.title:before,
.title:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3px;
  background: #6CBD83;
  border: solid #FFF;
  border-width: 0 10px;
}

.title:before {
  margin-left: -100%;
}

.title:after {
  margin-right: -100%;
}
/*# sourceMappingURL=style.css.map */